h2 {
    font-family: 'Roboto Mono', monospace;
}

ul {
    font-family: 'Roboto Mono', monospace;
    border-left: 5px solid #c9f5ce;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 20px;
    line-height: 2;
}

.container {
    display: flex;
    justify-content: center;
}