<div class="container">
    <h2>What's cooking this week?</h2>
</div>

<div class="container">
    <ul>
        <span class="underlined">
            <li *ngFor = "let recipe of recipes" (click)="onSelect(recipe)">{{recipe.name}}</li>
        </span>
    </ul>
</div>

<div class="container" *ngIf="selectedRecipe">
    <ul>
        <li>{{selectedRecipe.description}}
            <span class="highlighted" class="underlined">
                <a routerLink="/recipe-details/{{selectedRecipe.id}}"> See more.</a>
            </span>
        </li>
    </ul>
</div>
